body {
  margin-left: 30px;
}
h1 {
  color: #ffff;
  font-family: monospace;
  font-size: 40px;
  font-weight: 600;
  background-color: black;
  border-bottom: 8px solid #ffd457;
}
h2 {
  font-family: monospace;
  font-weight: 600;
}
p {
  font-size: 24px;
}

.additional_info {
  font-size: 16px;
}
